/* img {
    display: block;
}

#logo {
    width: 60px;
    height: 60px;
}

.btn-action {
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.todo-btn {
    width: 14px;
    height: 14px;
    padding: 0;
    vertical-align: middle;
    border-radius: 5px;
}

.todo-item {
    vertical-align: middle;
} */